{
    "port": 8089,
    "protocol": "http",
    "websocket": {
        "open": true,
        "maxsize": 10485760, //10M
        "encoding": "utf8",
        //"callback": "function(data, clientSocket){}", //function string
        "originReg": "127.0.0.1", //new RegExp 服务接受原正则匹配
        "broadcast": true, // 是否广播
        "meTome": true //是否广播到自己
    },
    "main": "index.html",
    "mock":{
        "datapath": "mock/",
        "mockrc": ".mockrc",
        "pagepath": "",
        "ignore": ["jpg", "png", "gif", "html", "js", "css"],
        "regexurl": {
            "api/mockdata1" : "mockdata.js",
            "api/mockdata1" : "mockdata.json",
            "api/mockdata" : "mockdata.mjson"
        }
    }
}