{
    "port": 8080,
    "protocol": 'http or https', //https\
    "key": "~/cert/cert.key",
    "cert": "~cert/cert.crt",
    // mock请求
    "mock":{
        "datapath": "mock/",
        "mockrc": ".mockrc", //相对mock datapath
        "regexurl": { //前面是regex new RegExp()
            "/api/mockdata1" : "mockdata.js", //走js 遵循cmd
            "/api/mockdata1" : "mockdata.json", //
            "/api/mockdata" : "mockdata.mjson" //
        }
    },
}