{
    "port": 8080,
    "protocol": "http",
    "key": "~/cert/cert.key",
    "cert": "~cert/cert.crt",
    "mock":{
        "datapath": "mock/",
        "mockrc": ".mockrc",
        "regexurl": {
            "api/mockdata" : "mockdata.js",
            "api/mockdata1" : "mockdata.json",
            "api/mockdata1" : "mockdata.mjson"
        }
    }
}