{
    "port": 8080,
    "hostname": "0.0.0.0",
    "protocol": "http", //https
    //"key": "~/cert/cert.key",
    //"cert": "~cert/cert.crt",
    "main": "./index.html",
    // "websocket": {
    //     "open": true,
    //     "maxsize": 10240,
    //     "encoding": "utf8",
    //     // callback: "console.log('outside: ', data); return 'get data ' + data;",
    //     // callback: function(data){
    //     //     console.log('outside: ', data);
    //     //     return 'get data ' + data;
    //     // },
    //     "originReg": "", //new RegExp 服务接受原正则匹配
    //     "sameOrigin": true, // 使用同源发送 default: true
    //     "broadcast": true, // 是否广播
    //     "mTm": false, //是否广播到自己
    //     "debug": false //log
    // },
    "plugins":[{
        "name": "mock",
        "open": true,
        "param": {
            "datapath": "mock/",
            "pagepath": "page", //page mock data path, default same as page file with .json or .mjson
            "mockrc": ".mockrc", //相对mock datapath 可用绝对路径
            "ignore": ["html", "jpg", "png", "gif"],
            "regexurl": { //前面是regex new RegExp()
                "com/api/mockdata.do": "mockdata.mjson",
                "/static/webapp/src/": "filemock.js",
                "/api/1placesuggestion" : "placesuggestion.js", //走js 遵循cmd
                "/api/1placesuggestion" : "placesuggestion.json", //
                "/api/placesuggestion" : "placesuggestion.mjson" //
            }
        }
    },{
        "name": "pagemock",
        "open": true,
        "param": {
            "basepath": "mock/page", //"", //default: 同级目录
            "mockrc": "../.mockrc", //基于basepath 可与mock同用 可用绝对路径
            "acceptExts": ["php", "html", "vm"] //监听的页面扩展
        }
    },{
        "name": "synctest",
        "open": true,
        "param": {
            //vpn: "192.168.1.6",
            "exts": ["html", "php", "vm"]
        }
    }]
}